# Gradle build dirs
.gradle/
build/
target/
!gradle/wrapper/gradle-wrapper.jar
.gradle_user_home/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/.project
bin/
out/

# Make build metafiles
version.json
.built

# Data files
*.dwg
*.dxf
*.pdf
*.svg

#Misc
supervisord.pid
